html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(250,250,250,1);
  font-family: 'Inter', sans-serif;
}

.main {
  display: block;
  max-width: 1110px;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  background-color: rgba(255,255,255,1);
  line-height: 1.5rem;
  color: #212121;
}

.main h1, .main h2, .main h3 {
  line-height: 1.25em/
}

.main h1 {
  margin-top: 0;
}

.main h3 {
  margin: 3rem 0 0;
}

.main p {
  margin-top: 0;
}

.main table {
  display: block;
  width: 100%;
  margin-top: 3rem;
  overflow: auto;
  border-collapse: collapse;
}

.main table th {
  font-weight: 400;
  text-transform: uppercase;
}

.main thead tr th:first-child {
  min-width: 9rem;
}

.main table tr td, .main table {
  border: 0;
}

.main table tr td, .main table tr th {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: .75rem;
  vertical-align: text-top;
}

.main table tr:nth-child(2n) {
  background-color: transparent;
}

.main table thead tr th {
  color: #9e9e9e;
}

.main-header {
  position: sticky;
  height: 4rem;
  width: 100%;
  background-color: rgba(68, 76, 101, 1);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.main-header .main-logo {
  max-width: 1110px;
  max-height: 64px;
}

.main-footer {
  max-width: 1302px;
  margin: auto;
}

.main a {
  text-decoration: none;
}

.main a:link, .main a:visited {
  color: rgb(55, 129, 209);
}

.main a:hover {
  background-color: #fafafa;
  text-decoration: underline;
}

@media screen and (min-width: 640px) {
  .main {
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 960px) {
  .main {
    padding: 6rem;
  }
}

