---
permalink: /{{release_version}}/xml/{{page.fileSlug}}.xml
--- 
{%- set model_mappings = {"asct-b":"ASCT+B","2d-ftu":"2D Reference FTU","omap":"Organ Mapping Antibody Panels(OMAPs)","ref-organs": "3D Reference Organs"} %}
{%- set resource_mappings = {"asct-b": "Dataset","2d-ftu":"Image","omap":"Dataset","ref-organs": "Model"} %}
{%- set resource_title_mappings = {"asct-b": "ASCT+B Tables","2d-ftu":"2D reference human organ FTU object","omap":"Organ Mapping Antibody Panel","ref-organs":"3D reference human organ model"}  %}
{%- set cite_model_mappings = {"asct-b":"ASCT+B Tables","2d-ftu":"2D Data","omap":"OMAP Tables","ref-organs":"3D Data" }  %} 
{%- set license_mappings = {"CC BY 4.0":"Creative Commons Attribution 4.0 International (CC BY 4.0)","MIT":"MIT"} %}
{%- set award_mappings = {"OT2OD026671":"National Institutes of Health","NIH 5UH3CA246594-02":"National Institutes of Health (NIH) National Cancer Institute (NCI)","UH3 CA246635":"National Institutes of Health (NIH) National Cancer Institute (NCI)","UH3 CA246594-01":"National Institutes of Health (NIH) National Cancer Institute (NCI)"} %}
{%- set orc_ind_dict = collections.ind_orcids -%}

<?xml version="1.0" encoding="UTF-8"?>
<resource xmlns="http://datacite.org/schema/kernel-4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://datacite.org/schema/kernel-4 http://schema.datacite.org/meta/kernel-4/metadata.xsd">
<identifier identifierType="DOI">{{doi}}</identifier>
<titles>
    <title>{{ description | get_title }} for {{ title }} {{ release_version }}</title>
</titles>
<creators>
    {%- for id in creators %}
    <creator>
        <creatorName>{{ orc_ind_dict[id]|get_fullName }}</creatorName>
        <givenName>{{ orc_ind_dict[id]["fName"] }}</givenName>
        <familyName>{{ orc_ind_dict[id]["lName"] }}</familyName>
        <nameIdentifier nameIdentifierScheme="ORCID" schemeURI="https://orcid.org/{{id}}">{{ id }}<nameIdentifier>
    </creator>
    {%- endfor %}
</creators>
<publisher>{{publisher}}</publisher>
<publicationYear>{{ creation_date|get_year }}</publicationYear>
<resourceType resourceTypeGeneral="{{ resource_mappings[type] }}">{{ resource_title_mappings[type] }}</resourceType>
<subjects>
    <subject>{{title}} {{release_version}}</subject>
<subjects>
<contributors>
    {%- for id in project_leads %}
        <contributor contributorType="Project Leader">
            <contributorName>{{ orc_ind_dict[id]|get_fullName }}</contributorName>
            <givenName>{{orc_ind_dict[id]["fName"]}}</givenName>
            <familyName>{{orc_ind_dict[id]["lName"]}}</familyName>
            <nameIdentifier nameIdentifierScheme="ORCID" schemeURI="https://orcid.org/{{ id }}">{{ id }}</nameIdentifier>
        </contributor>
    {%- endfor -%}
    {%- for id in reviewers %}
        <contributor contributorType="Other">
            <contributorName>{{ orc_ind_dict[id]|get_fullName }}</contributorName>
            <givenName>{{orc_ind_dict[id]["fName"]}}</givenName>
            <familyName>{{orc_ind_dict[id]["lName"] }}</familyName>
            <nameIdentifier nameIdentifierScheme="ORCID" schemeURI="https://orcid.org/{{ id }}">{{ id }}</nameIdentifier>
        </contributor>
    {%- endfor %}
</contributors>
<dates>
    <date dateType="Available">{{creation_date|myDateFilter}}</date>
</dates>
<descriptions>
    <description>{{description}}</description>
</decsriptions>
<language>EN</language>
<alternateIdentfiers>
    <alternateIdentfier alternateIdentiferType="HuBMAP ID">{{hubmap_id}}</alternateIdentfier>
    <alternateIdentfier alternateIdentfierType="How to Cite This Data Table">
       {%- for id in creators %}{{ orc_ind_dict[id]|get_fullName }}, {% endfor %}{{publisher}} {{resource_title_mappings[type]}}. {{title}} {{release_version}} {{ doi -}}
    </alternateIdentfier>
    <alternateIdentfier alternateIdentfierType="How to Cite {{cite_model_mappings[type]}} Overall">Quardokus, Ellen M., Bruce W. Herr II, Lisel Record, Katy Börner. 2022. {{publisher}} {{ model_mappings[type] }} Tables. Accessed on {{ creation_date.toISOString().split('T')[0] }}.</alternateIdentfier>
</alternateIdentfiers>
<formats>
	<format>{{ datatable|get_extension }}</format>
</formats>
<rightsList>
    <rights rightsURI="https://creativecommons.org/licenses/by/4.0/">{{ license_mappings[license] }}</rights>
</rightsList>
</resource>
