---
layout: layouts/base.njk
permalink: /{{release_version}}/docs/{{type}}/{{page.fileSlug}}.html

---
{%- setPageVar 'pageTitle' -%}
HRA Digital Object: {{ title }} {{ release_version }}
{%- endsetPageVar %}
{%- set orc_ind_dict = collections.ind_orcids %}
{%- set model_mappings = {"asct-b":"ASCT+B","2d-ftu":"2D Reference FTU","omap":"Organ Mapping Antibody Panels(OMAPs)","ref-organs": "3D Reference Organs"} %}
{%- set license_mappings = {"CC BY 4.0":"Creative Commons Attribution 4.0 International (CC BY 4.0)","MIT":"MIT"} %}

{%- if type == "asct-b" %}
<h1>Anatomical Structures, Cell Types, plus Biomarkers (ASCT+B) {{ release_version }}</h1>
{% endif -%}
{%- if type == "2d-ftu" %}
<h1>2D FTU</h1>
{% endif -%}
{%- if type == "omap" %}
<h1>OMAP</h1>
{% endif -%}
{%- if type == "ref-organs" %}
<h1>Ref Organs</h1>
{% endif -%}

<h3>Description</h3>
<wc-markdown>
  {{ description }}
</wc-markdown>

<table>
  <thead>
    <tr>
      <th align="left">Label</th>
      <th align="left">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <strong>Creator(s):</strong>
      </td>
      <td>
        {% for id in creators %}{{ orc_ind_dict[id]|get_fullName }}; {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Creator ORCID(s):</strong>
      </td>
      <td>
        {%- for id in creators %}
          <a href="https://orcid.org/{{id}}">{{id}}</a>;
        {%- endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Project Lead:</strong>
      </td>
      <td>
        {%- for id in project_leads %}{{ orc_ind_dict[id]|get_fullName }} {% endfor -%}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Project Lead ORCID:</strong>
      </td>
      <td>
        {%- for id in project_leads %}
          <a href="https://orcid.org/{{id}}">{{id}}</a>;
        {%- endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <b>Internal Reviewer(s):</strong>
      </td>
      <td>
        {%- if reviewers %}
          {%- for id in reviewers %}{{ orc_ind_dict[id]|get_fullName }}; {% endfor %}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Internal Reviewer ORCID(s):</strong>
      </td>
      <td>
        {%- if reviewers %}
          {%- for id in reviewers %}
            <a href="https://orcid.org/{{id}}">{{id}}</a>; {% endfor %}
        {%- endif %}
      </td>
    </tr>
    {%- if external_reviewers %}
      <tr>
        <td>
          <b>External Reviewer(s):</strong>
        </td>
        <td>
          {% for id in external_reviewers %}{{ orc_ind_dict[id]|get_fullName }}; {% endfor %}
        </td>
      </tr>
      <tr>
        <td>
          <strong>External Reviewer ORCID(s):</strong>
        </td>
        <td>
          {%- for id in external_reviewers %}
            <a href="https://orcid.org/{{id}}">{{id}}</a>;
          {%- endfor %}
        </td>
      </tr>
    {%- endif %}
    <tr>
      <td>
        <strong>Creation Date:</strong>
      </td>
      <td>
        {{ creation_date }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>License:</strong>
      </td>
      <td>
        {{ license_mappings[license] }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Publisher:</strong>
      </td>
      <td>
        {{ publisher }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Funder:</strong>
      </td>
      <td>
        {{ funder }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Award Number:</strong>
      </td>
      <td>
        {{ award_number }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>HuBMAP ID:</strong>
      </td>
      <td>
        {{ hubmap_id }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Download Data:</strong>
      </td>
      <td>
        <a href="{{ release_version }}/{{ type }}/{{ datatable }}">
          {{ datatable|get_extension|upper }}
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <strong>DOI:</strong>
      </td>
      <td>
        <a href="{{ doi }}">{{ doi }}</a>
      </td>
    </tr>
    <tr>
      <td>
        <strong>How to Cite This Data:</strong>
      </td>
      <td>
        {% for id in creators %}{{ orc_ind_dict[id]|get_fullName }}; {% endfor %}
        {{publisher}}
        {{ model_mappings[type] }} Tables. {{ datatable }}
        <a href="{{ doi }}">{{ doi }}</a>
      </td>
    </tr>
    <tr>
      <td>
        <strong>How to Cite This Data Overall:</strong>
      </td>
      <td>
        Quardokus, Ellen M., Bruce W. Herr II, Lisel Record, Katy Börner. 2022.
        <a href="https://hubmapconsortium.github.io/ccf/pages/ccf-anatomical-structures.html">
          <em>{{publisher}}
            {{ model_mappings[type] }} Tables</em>
        </a>.
        Accessed on {{ creation_date.toISOString().split('T')[0] }}.
      </td>
    </tr>
  </tbody>
</table>
