---
layout: layouts/base.njk
permalink: /{{release_version}}/docs/{{type}}/{{page.fileSlug}}.html
---
{% set orc_ind_dict = collections.ind_orcids %}
{% if type == "asct-b" %}
  <h1>Anatomical Structures, Cell Types, plus Biomarkers (ASCT+B) {{ release_version }}</h1>
{% endif %}
{% if type == "2d-ftu" %}
  <h1>2D FTU</h1>
{% endif %}
{% if type == "omap" %}
  <h1>OMAP</h1>
{% endif %}
{% if type == "ref-organs" %}
  <h1>Ref Organs</h1>
{% endif %}

<h3>Description</h3>
<wc-markdown>
  {{ description }}
</wc-markdown>

<table>
  <thead>
    <tr>
      <th align="left">Label</th>
      <th align="left">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Creator(s):</strong></td>
      <td>
        {% for id in creators %}
          {% if orc_ind_dict[id]["fName"] != undefined %}{{ orc_ind_dict[id]["fName"]}}{% endif %}
          {% if orc_ind_dict[id]["mName"] != undefined %}{{ orc_ind_dict[id]["mName"]}}{% endif %}
          {% if orc_ind_dict[id]["lName"] != undefined %}{{ orc_ind_dict[id]["lName"]}}{% endif %};{% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Creator ORCID(s):</strong>
      </td>
      <td>
        {% for id in creators %}
          <a href="https://orcid.org/{{id}}">{{id}}</a>; {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Project Lead:</strong>
      </td>
      <td>
        {% for id in project_leads %}
          {% if orc_ind_dict[id]["fName"] != undefined %}{{ orc_ind_dict[id]["fName"]}}{% endif %}
          {% if orc_ind_dict[id]["mName"] != undefined %}{{ orc_ind_dict[id]["mName"]}}{% endif %}
          {% if orc_ind_dict[id]["lName"] != undefined %}{{ orc_ind_dict[id]["lName"]}}{% endif %}
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Project Lead ORCID:</strong>
      </td>
      <td>
        {% for id in project_leads %}
          <a href="https://orcid.org/{{id}}">{{id}}</a>;{% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <b>Internal Reviewer(s):</strong>
      </td>
      <td>
        {% if reviewers %}
          {% for id in reviewers %}
            {% if orc_ind_dict[id]["fName"] != undefined %}{{ orc_ind_dict[id]["fName"]}}{% endif %}
            {% if orc_ind_dict[id]["mName"] != undefined %}{{ orc_ind_dict[id]["mName"]}}{% endif %}
            {% if orc_ind_dict[id]["lName"] != undefined %}{{ orc_ind_dict[id]["lName"]}}{% endif %};{% endfor %}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Internal Reviewer ORCID(s):</strong>
      </td>
      <td>
        {% if reviewers %}
          {% for id in reviewers %}
            <a href="https://orcid.org/{{id}}">{{id}}</a>; {% endfor %}
        {% endif %}
      </td>
    </tr>
    {% if external_reviewers %}
    <tr>
      <td>
        <b>External Reviewer(s):</strong>
      </td>
      <td>
          {% for id in external_reviewers %}
          {% if orc_ind_dict[id]["fName"] != undefined %}{{ orc_ind_dict[id]["fName"]}}{% endif %}
          {% if orc_ind_dict[id]["mName"] != undefined %}{{ orc_ind_dict[id]["mName"]}}{% endif %}
          {% if orc_ind_dict[id]["lName"] != undefined %}{{ orc_ind_dict[id]["lName"]}}{% endif %};{% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>External Reviewer ORCID(s):</strong>
      </td>
      <td>
          {% for id in external_reviewers %}
            <a href="https://orcid.org/{{id}}">{{id}}</a>;{% endfor %}
      </td>
    </tr>
    {% endif %}
    <tr>
      <td>
        <strong>Creation Date:</strong>
      </td>
      <td>
        {{ creation_date }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>License:</strong>
      </td>
      <td>
        {{ license }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Publisher:</strong>
      </td>
      <td>
        {{ publisher }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Funder:</strong>
      </td>
      <td>
        {{ funder }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Award Number:</strong>
      </td>
      <td>
        {{ award_number }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>HuBMAP ID:</strong>
      </td>
      <td>
        {{ hubmap_id }}
      </td>
    </tr>
    <tr>
      <td>
        <strong>Data Table:</strong>
      </td>
      <td>
        <a href="/{{release_version}}/{{type}}/{{datatable}}">
          {{ datatable }}
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <strong>DOI:</strong>
      </td>
      <td>
        <a href="{{ doi }}">{{doi}}</a>
      </td>
    </tr>
    <tr>
      <td>
        <strong>How to Cite This Data Table:</strong>
      </td>
      <td>
        {% for id in creators %}
          {% if orc_ind_dict[id]["fName"] != undefined %}{{ orc_ind_dict[id]["fName"]}}.{% endif %}
          {% if orc_ind_dict[id]["mName"] != undefined %}{{ orc_ind_dict[id]["mName"]}}.{% endif %}
          {% if orc_ind_dict[id]["lName"] != undefined %}{{ orc_ind_dict[id]["lName"]}}.{% endif %};{% endfor %}
        {{publisher}} {{model_type|upper}} Tables. {{ datatable }}
        <a href="{{ doi }}">{{doi}}</a>

      </tr>
      <tr>
        <td>
          <strong>How to Cite {{model_type | upper }} Tables Overall :</strong>
        </td>
        <td>
          Quardokus, Ellen M., Bruce W. Herr II, Lisel Record, Katy Börner. 2022.
          <a href="https://hubmapconsortium.github.io/ccf/pages/ccf-anatomical-structures.html">
            <em>{{publisher}} {{model_type | upper}} Tables</em>
          </a>.
          Accessed on {{ creation_date.toISOString().split('T')[0] }}.
        </td>
      </tr>
    </tbody>
  </table>
</div>
