---
layout: layouts/base.njk
---
First Name : {{individual.first_name}} <br/>
{% if individual.middle_name %}
    Middle Name : {{individual.middle_name}}
{% endif %}
Last Name: {{individual.last_name}} <br/>


ORCID : <a href="https://www.orcid.org/{{individual.orcid}}"> {{individual.orcid}} </a>