---
layout: layouts/base.njk
permalink: /{{ page.filePathStem | myFilter }}.html/
---
<div class="container-md" style="margin-left:20%;margin-top:2.5rem;background-color:#FFFFFF;padding:5%;box-shadow:rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 12%) 0px 1px 5px 0px">

<h2><b> {{title}}</b> </h2>
<h6> {{model_type}} </h6>


<h5> Description </h5> 
<wc-markdown>
  <script type="wc-content">
   {{description}} 
  </script>
</wc-markdown>
 
 <br/>

<table class="table">
    <tr>
        <th>Label </th>
        <th> Value </th>
    </tr>
    <tr>
        <td> Creators </td>
        <td>
         {% for id in creators %}
            {% for ind in collections.individuals %}
                {% if ind.data.individual.orcid == id %}  
                    {{ ind.data.individual.first_name }}.{{ ind.data.individual.last_name }};  {% endif %} 
            {% endfor %}
        {% endfor %}
        </td>
        
    </tr>
    <tr>
        <td> Creator ORCID </td>
        <td> {% for id in creators %} <a href="https://orcid.org/{{id}}">{{id}}</a>; {% endfor %} </td>
    </tr>
    <tr>
        <td> Project Lead </td>
        <td> 
        {% for id in project_leads %}    
            {% for ind in collections.individuals %}
                {% if ind.data.individual.orcid == id %}  
                    {{ ind.data.individual.first_name }}.{{ ind.data.individual.last_name }}  {% endif %} 
            {% endfor %}
        {% endfor %} </td>
    </tr>
   <tr>
        <td> Reviewer(s) </td>
        <td>
         {% for id in reviewers %}
            {% for ind in collections.individuals %}
                {% if ind.data.individual.orcid == id %}  
                    {{ ind.data.individual.first_name }}.{{ ind.data.individual.last_name }};  {% endif %} 
            {% endfor %}
        {% endfor %}
        </td>
        
    </tr>
    <tr>
        <td> Reviewer ORCID </td>
        <td> {% for id in reviewers %} <a href="https://orcid.org/{{id}}">{{id}}</a>; {% endfor %} </td>
    </tr>
    <tr>
        <td> Date </td>
        <td> {{ creation_date.toISOString().split('T')[0] }} </td>
    </tr>
    <tr>
        <td> License </td>
        <td> {{ license }} </td>
    </tr>
    <tr>
        <td> Publisher </td>
        <td> {{ publisher }} </td>
    </tr>
    <tr>
        <td> Funder </td>
        <td> {{ funder }} </td>
    </tr>
    <tr>
        <td> Award Number </td>
        <td> {{ award_number }} </td>
    </tr>
    <tr>
        <td> HuBMAP ID </td>
        <td> {{ hubmap_id }} </td>
    </tr>
    <tr>
        <td> Data Table </td>
        <td> {{ page.url }}</td>
    </tr>
    <tr>
        <td> DOI </td>
        <td> <a href="{{ doi }}">{{doi}}</a> </td>
    </tr>
</table>
</div>